<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/plotly-latest.min.js"></script>
    <script src="/static/js/script.js"></script>
 <style>


/* Important part */
.content {
  background-color: green;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 300px;
    overflow-y: auto;
}

.wrap {
    width: 1060px;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}
.text_over_image {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    height:100px;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 20;
  color: Blue;
  /*text-shadow: 0 1px 2px rgba(0,0,0,.6);*/
 font-size:10pt;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.navbar {
       margin-bottom: 1px;   
}

/************Without Bootstrap*************/
/*table.dtf thead tr{
    display:block;
}

table.dtf th{
    width:100%;
}

table.dtf tr{
    width:100%;
}


table.dtf tbody{
  display:block;
  height:120px;
  overflow:auto;
}
*/

/************Bootstrap*************/

.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 175px;
  overflow-y: auto;
  width: 100%;
  background-color: white;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

/* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
	
        </style>

    <title>Dashboard | Network Analyzer BOT</title>

</head>
<body style="background: #F8F8F8;">
<!--Top Navigation Bar-->
<nav class="navbar" style="background: #FFFFFF;">
		<div>
      
			<span class="icon-bar"><img src="/static/img/holmes_logo.png" alt="Wipro logo" height="40"/></span> 
			<span  style="color:#ccc5c5;font-size:20pt;">|</span>
			<span class="icon-bar" style="color:#068fd0;font-size:15pt;"> <strong>Firewall Analyzer BOT</strong></span>
			
			
			<ul class="nav navbar-nav navbar-right">
				<li><span class="icon-bar"><img src="/static/img/execution.png" alt="execution"/>
						<div class="carousel-caption">
							<p style="color:#068fd0;">{{exec_count}}</p>
						</div>
					</span>
				</li>  
				<li><a id="pdfExportUrl" href="#" target="_blank" onclick="location.href=this.href+'?key='+scrt_var;return false;"><span class="wrap"><img src="/static/img/ExportPdf.png" alt="ExportPdf" height="30" width="30" /></span></a></li>
				<li><a id="csvExportUrl" href="#" target="_blank" onclick="location.href=this.href+'?key='+scrt_var;return false;"><span class="wrap"><img src="/static/img/ExportExcel.png" alt="ExportExcel" height="30" width="30" /></span></a></li>
				<li><a href="/nab/home_page"><span class="wrap"><img src="/static/img/home_onpress.png" alt="Home"/></span></a></li>
				<li><a href="#"><span class="icon-bar"><img src="/static/img/info_onpress.png" alt="info"/></span></a></li>
				<li><a id="logoutId" href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
		  </ul>
		</div>
	</div>

</nav>

<!--DashBoard CPU and Interfaces -->
<div class="col-md-12" style="border-top: 1px solid #0000CC;">

	<!--Second Level  Navigation Bar (DashBoard CPU and Interfaces)-->
   <ul class="nav nav-tabs" >       
		<li class="active"><a data-toggle="tab" href="#dashboard"><h4 style="margin-top:0px;margin-bottom:0px;">Dashboard</h4></a></li>
		<li><a data-toggle="tab" href="#Policyfindings"><h4 style="margin-top:0px;margin-bottom:0px;">Policy findings</h4></a></li>
        <li><a data-toggle="tab" href="#interfaces"><h4 style="margin-top:0px;margin-bottom:0px;">Interfaces</h4></a></li>
        <li><a data-toggle="tab" href="#Observation"><h4 style="margin-top:0px;margin-bottom:0px;">Observation</h4></a></li>
    </ul>
	
	<!--Tab Container for DashBoard, CPU and Interfaces-->
    <div class="tab-content">
		<!--Tab Container for DashBoard-->
		<div id="dashboard" class="tab-pane fade in active" >
        
			<!--DashBoard First section Contains Device summary, CPU Utilization and Top CPU Processes-->
			<div class="row" style="border-top: 1px solid #C0C0C0; height:450px;">
					<!--DashBoard First section Contains Device summary-->
					<div class="col-md-4" name="DeviceSummary" style="height:400px;overflow:auto;">
						<h4><strong>Device summary:</strong></h4>
						<table class="table table-striped table-bordered  table-hover" style="background-color: white; height: 325px;">
							<tr>
								<td><strong>Hardware:</strong><br>
								{{ overview[6] }}
								</td>
							</tr>
							<tr>
								<td><strong>Host:</strong><br>
								{{ overview[0] }}
								</td>
							</tr>
							<tr>
								<td><strong>Software info:</strong><br>
								{{ overview[1] }}
								</td>
							</tr>
							<tr>
								<td><strong>Image version:</strong><br>
								{{ overview[2] }}
								</td>
							</tr>
							<tr>
								<td><strong>Uptime:</strong><br>
								{{ overview[3] }}
								</td>
							</tr>
							<tr>
								<td><strong>Config Register:</strong><br>
								{{ overview[4] }}
								</td>
							</tr>
							<tr>
								<td><strong>Last configuration modified:</strong><br>
								{{ overview[5] }}
								</td>
							</tr>
							<tr>
								<td><strong>License:</strong><br>
								{{ overview[7] }}
								</td>
							</tr>							
						</table>
						
					</div>
					<!--DashBoard First section Contains CPU Utilization-->
					<div class="row col-md-4" name="CPUUtilization" style="height:450px">
						<h4><strong>CPU Utilization:</strong></h4>
						
						<table>
							<tr style="padding-left: 0px; height=105px">
								<td>
									<div  style="padding-left: 0px; height:105px;margin-bottom:0px">
						
										<div class="tile orange" style="margin-bottom:25px;padding: 18px;">
											<p>5 sec utilization</p>
											<h3 class="title"><span style="font-size: 20px">{{ cpu_tiles[0] }}</span></h3>
							
										</div>
									</div>
								</td>
						 
								<td>
									<div  style="padding-left: 5px; height:105px; margin-bottom:0px;">
										<div class="tile purple" style="margin-bottom:25px;padding: 18px;">
											<p>1 min utilization</p>
											<h3 class="title"><span style="font-size: 20px">{{ cpu_tiles[1] }}</span></h3>
							
										</div>
									</div>
								</td>
						 
								<td>					 
									<div  style="padding-left: 5px; height:105px;margin-bottom:0px;">
										<div class="tile green" style="margin-bottom:25px;padding: 18px;">
											<p>5 min utilization</p>
											<h3 class="title"><span style="font-size: 20px">{{ cpu_tiles[2] }}</span></h3>
										</div>
									</div>
								</td>
							</tr>

							<!--Erro Log
							<tr style="padding-left: 0px;width: 100%;">
								<td colspan="3">
									
									<div class="col-sm-4" style="padding-left: 0px;position: relative; width: 100%;padding-right: 0px;padding-top:5px;padding-bottom: 5px;">
									
										<div style="width: 100%;">
											<button type="button" style="width: 100%;" class="btn btn-danger" data-toggle="modal" data-target="#myModal2" data-backdrop="static" data-keyboard="false">Inferences</button>
							   
										</div>
							
									</div>
								</td>
							</tr>
						 -->
							<tr style="padding-left: 0px;">
								<td colspan="3" style="padding-left: 0px; ">
						 
								<h4><strong>Memory Utilization:</strong></h4>
									<table id="memory_utilization_TbleId" class="table table-striped table-bordered table-hover" style="padding-left: 0px; background-color:#d4d2d2">
									
							<thead>
								<tr>
									<th class="col-xs-3" style="color: #807d7d">Memory</th><th class="col-xs-2" style="color: #807d7d">Total</th><th class="col-xs-2" style="color: #807d7d">Used</th><th class="col-xs-2" style="color: #807d7d">Free</th>
								</tr>
							</thead>
							<tbody style="background-color: white;">
								
							</tbody>
						</table>	
								</td>
							</tr>
						 </table>
					   	
					</div>
				   <!--DashBoard First section Contains Top CPU Processes-->
					<div class="col-md-4" name="DeviceSummary" style="padding-top: 0px;padding-left: 20px;  height=450px" >
						<h4><strong>Summary of findings:</strong></h4>
						<table class="table table-striped table-bordered  table-hover" style="background-color: white; height:10;">

							<tr>
                                <td  id="r" ><strong><font color="white"><h4>EOL:</h4></font></strong>
								<span id="Colorchange"><font color="white"><h4>{{EOL[0]}}</h4></font></span><span id="errordisplay"></span>
								  
								<script>
								    
								   var EOL_Defaul_tdate = document.getElementById("Colorchange").innerText; //EOL Display Date
								   
								   var TodayDate = new Date();
								   var day = TodayDate.getDate();
								   var month = new Array();
								   month[0] = "Jan";
								   month[1] = "Feb";
								   month[2] = "Mar";
								   month[3] = "Apr";
								   month[4] = "May";
								   month[5] = "Jun";
								   month[6] = "Jul";
								   month[7] = "Aug";
								   month[8] = "Sep";
								   month[9] = "Oct";
								   month[10] = "Nov";
								   month[11] = "Dec";
                                   var monthIndex = month[TodayDate.getMonth()];
                                   var year = TodayDate.getFullYear();
								   var year1 = year.toString().substr(-2);
                                   var curremt_sys_date=day + '-' + monthIndex + '-' + year1;              //System Date
								   
								   
								   if(curremt_sys_date>EOL_Defaul_tdate)                                
								   {
								   
								   document.getElementById("r").style.backgroundColor="#0E7704";
									
								   }
								   else
								   {
								   document.getElementById("r").style.backgroundColor="#E16A6A";//red
								   document.getElementById("errordisplay").innerHTML='Expired';
								   
								   
								   }
								   
								</script>
								
								
								</td>
				
							</tr>
							</table>
							<table class="table table-striped table-bordered  table-hover" style="background-color: white; height:10;">
							<tr>
								<td id="EOS" ><strong><font color="white"><h4>EOS:</h4></font></strong>
								<span id="ColorchangeEOS"><font color="white"><h4>{{ EOS[0]}}</h4></font></span><span id="errordisplays"></span>
								
								  
								<script>
								    
								   var EOS_Defaul_tdate = document.getElementById("Colorchange").innerText; //EOL Display Date
								   
								   var TodayDate = new Date();
								   var day = TodayDate.getDate();
                                   var monthIndex = TodayDate.getMonth();
                                   var year = TodayDate.getFullYear();
                                   var curremt_sys_date=day + '-' + monthIndex + '-' + year;              //System Date
								   
								   
								   if(curremt_sys_date<EOS_Defaul_tdate)                                
								   {
								   
								   document.getElementById("EOS").style.backgroundColor="#0E7704";
								   
								   }
								   else
								   
								   {
								   document.getElementById("EOS").style.backgroundColor="#E16A6A";//red
								   document.getElementById("errordisplay").innerHTML="Expired";
								   
								   
								   }
								   
								</script>
								</td>
							</tr>
							</table>
								<td><strong>Policy findings :</strong><br>
				
									<table>
										<tr style="padding-left: 0px; height=50px">
											<td>
												<div  style="padding-left: 0px; height:50px;margin-bottom:0px">
									
													<div class="tile red" style="margin-bottom:25px;padding: 18px;background-color:red;">
														<p>High</p>
														<h3 class="title"><span class="">{{ CRI }}</span>&nbsp;<span style="font-size: 20px"></span></h3>
										
													</div>
												</div>
											</td>
					 
								 
											<td>					 
												<div  style="padding-left: 5px; height:50px;margin-bottom:0px;">
													<div class="tile yellow" style="margin-bottom:25px;padding: 18px;background-color:yellow;">
														<p>Medium</p>
														
														<h3 class="title"><span class="">{{ MED }}</span>&nbsp;<span style="font-size: 20px"></span></h3>
													</div>
												</div>
											</td>
											<td>					 
												<div  style="padding-left: 5px; height:50px;margin-bottom:0px;">
													<div class="tile green" style="margin-bottom:25px;padding: 18px;">
														<p>low</p>
														<h3 class="title"><span class="">{{ LOW }}</span>&nbsp;<span style="font-size: 20px"></span></h3>
													</div>
												</div>
											</td>
										</tr>
									</table>
								</td>
								
							</tr>
						
						</table>
						
					</div>
			</div>
		</div>
		<div id="Policyfindings" class="tab-pane fade " >
		<h3>The total device-wide Access Control List (ACL) count is {{ ACL1 }} </h3>
		<h4>Top ACLs, by size, on this Firewall:</h4>
		
		{{ ACL.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - deny ip any any log</h3>
		{{ low_value.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - permit ip any4 any4'</h3>
		{{ low.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - permit tcp host'</h3>
		{{ low2.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - permit ip host</h3>
		{{ medium.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - permit ip any host</h3>
		{{ medium1.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - permit ip any4 host</h3>
		{{ medium2.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - permit ip any4 host</h3>
		{{ medium3.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - deny ip any any log</h3>
		{{ critical.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		<h3>Policy violation - deny ip any4 any4 log</h3>
		{{ critical1.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		</div>
		<div id="interfaces" class="tab-pane fade " >
		
		 <div class="bs-example" id="fetch">{{ interfaces_data.to_html(index=False, classes="table table-striped table-bordered table-hover tbl5") | safe  }}</table></div>
		 <script>
		   var test=document.getElementById("fetch").innerHTML;
		   
		   var tables = document.getElementsByTagName('td');

           for(var i = 0; i < tables.length; i++)
             {
			    //tables[i].innerHTML = tables[i].innerHTML.replace('uplex', '<span style="color:yellow">uplex</span>');
			    tables[i].innerHTML = tables[i].innerHTML.replace('UP', '<span style="color:green; font-weight:bold">UP</span>');
				tables[i].innerHTML = tables[i].innerHTML.replace('DOWN', '<span style="color:red;font-weight:bold">DOWN</span>');	   
                
             }
		   //tables[i].innerHTML = tables[i].innerHTML.replace('Auto-Duplex(Full-duplex)', '<span style="color:yellow">Auto-Duplex(Full-duplex)</span>');
		 </script>
		
		
		</div>
		<div id="Observation" class="tab-pane fade " >

		<h4>Throughtput summary</h4>
		<ul style="list-style-type:disc">
		  <li>Input: {{summary_input}} bytes/sec | Output: {{summary_output}} bytes/sec </li>
		  <li id="ded">{{ agg_value1}}</li>		  
		</ul>
		<script>
		var myElements = document.querySelector("#ded").innerHTML;
		
		var arr1=myElements.split(' ');
		
		if(arr1.indexOf("Throughput")!=-1){
		var $this = $('#ded');
		
		$this.empty();
		for(var i=0; i<arr1.length;i++){
			var value = arr1[i],
				element = $('<span/>',{'text':value}),
				color = '';

			if(i==5 || i==6){
				color = 'green';
			}
				//document.getElementById("ded").style.visibility = "hidden";
			
			$this.append( element.css({'color':color}) );
			$this.append(' ');
		}
		}
		else{
		var $this = $('#ded');
		$this.empty();
		for(var i=0; i<arr1.length;i++){
			var value = arr1[i],
				element = $('<span/>',{'text':value}),
				color = '';
				
			$this.append( element.css({'color':color}) );
			$this.append(' ');
		}
		}
		</script>
		<hr>
		<h4>Console timeout status</h4>
		<ul style="list-style-type:disc">
		  <li>{{ console_time}}</li>
		 </ul>
		<hr>
		<h4>Logging timeout status</h4>
		<ul style="list-style-type:disc">
		  <li>{{ log_time_stamp}}</li>
		 </ul>
		
		<hr>
		<div id="fmonitor">
		<h4>Failover Interface Monitoring:</h4>
		<ul style="list-style-type:disc">
		  <li id="fmon"style="display:hidden">{{ failover_monitored['Not-Monitored'][0]}}</li>
		 </ul>
		 <hr>
		 </div>
		 <script>
		   var test=document.getElementById("fmon").innerHTML;
		   var lines = test.split('\n')
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<li>') >= 0){
					test.getElementById("fmon").style.display = "visible";
					}
				else{
					document.getElementById("fmonitor").style.display = "none";}
             }
		 </script>		 

		<h4>Failover History details</h4>
		 <p>Failover event detected in last two weeks</p>
		<ul style="list-style-type:disc">

		  <li>{{fail_reason}}</li>
		  {{ fail_over_history.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		</ul>		
		
		<hr>
		<div id="hehehep">
		<h4>Process Utilization</h4>
		<p> Below process is using high CPU</p>
		<div id="pdata"style="display:hidden">{{ processData.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe  }}</table></div>			
		 <hr>
		 </div>
		 <script>
		   var test=document.getElementById("pdata").innerHTML;
		   var lines = test.split('\n')
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("pdata").style.display = "visible";
					}
				else{
					document.getElementById("hehehep").style.display = "none";}
             }
		 </script>
		<div id="intererror">
		<h4>Interface Errors</h4>
		<p id="inOver">Overrun indicates that input traffic is too much for the below listed Interface</p>
		<p id="inUnder">Underrun indicates that output traffic is too much for the below listed Interface</p>
		<div id="interr"style="display:hidden">{{ load.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}		
		<hr>
		 </div>
		 </div>
		 <script>
		   var test=document.getElementById("interr").innerHTML;
		   var lines = test.split('\n')
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("interr").style.display = "visible";
					}
				else{
					document.getElementById("intererror").style.display = "none";}
             }
		 </script>
		<script>
		$(function () {
			$("#interr tbody tr").each(function () {
				var cols = $(this).children("td");
				if ($(cols[1]).text() != "NA") {
					var statusEle = $(cols[1]);
					statusEle.css("color", "green");   
				}
				if ($(cols[2]).text() != "0 overrun") {
					var statusEle = $(cols[2]);
					statusEle.css("color", "green");   
				}
				if ($(cols[3]).text() != "0 underruns") {
					var statusEle = $(cols[3]);
					statusEle.css("color", "green");   
				}
				
			});
		});

		</script>
	 
		<div id="heheher">
		<h4>Resource usage</h4>
		<div id="rusage"style="display:hidden">{{ resourse_usage.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe  }}</table></div>			
		<hr>
		 </div>
		 <script>
		   var test=document.getElementById("rusage").innerHTML;
		   var lines = test.split('\n')
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("rusage").style.display = "visible";
					}
				else{
					document.getElementById("heheher").style.display = "none";}
             }
		 </script>
		
		
		<div id="heheheR">
		<h4>Route</h4>
		<div id="route"style="display:hidden">{{ route.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}</table></div>			
		<hr>
		</div>
		 <script>
		   var test=document.getElementById("route").innerHTML;
		   var lines = test.split('\n')
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("route").style.display = "visible";
					}
				else{
					document.getElementById("heheheR").style.display = "none";}
             }
		 </script>
		<div id="hehehet">
		<h4>Traffic_data</h4>
		<div id="traffic"style="display:hidden">{{ traffic_data.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}</table></div>			
		<hr>
		</div>
		 <script>
		   var test=document.getElementById("traffic").innerHTML;
		   var lines = test.split('\n')
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("traffic").style.display = "visible";
					}
				else{
					document.getElementById("hehehet").style.display = "none";}
             }
		 </script>
		<hr>
        <h4>CPU Utilization </h4>
        {{cpu_utilization_stats_c}}
		<hr>
        <h4>Show block observations</h4>
		<p>{{show_block_L}}</p>
		<p>{{show_block_C}}</p>
        {{sh_block.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe}}
		<hr>
		<h4>Interface flow control observation</h4>
		<p> Flow control is not enabled and it is recommended to enable Flow control for all interfaces</p>
		<div class="bs-example" id="fetch1">{{flow_off.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe}}</table></div>
		 <script>
		   var test=document.getElementById("fetch1").innerHTML;
		   
		   var tables = document.getElementsByTagName('td');
		  
           for(var i = 0; i < tables.length; i++)
             {
			    //tables[i].innerHTML = tables[i].innerHTML.replace('uplex', '<span style="color:yellow">uplex</span>');
		
				tables[i].innerHTML = tables[i].innerHTML.replace('Flow control OFF', '<span style="color:red;font-weight:bold">Flow control OFF</span>');	   
                
             }
		   //tables[i].innerHTML = tables[i].innerHTML.replace('Auto-Duplex(Full-duplex)', '<span style="color:yellow">Auto-Duplex(Full-duplex)</span>');
		 </script>
		<p> </p>
		
		<div id="hehehefon">
		<p>Flow control has been configured, no observation found</p>
		<div id="flow_on"style="display:hidden">{{flow_ON.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}</table></div>			
		<hr>
		</div>
		 <script>
		   var test=document.getElementById("flow_on").innerHTML;
		   var lines = test.split('\n')
		   
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("flow_on").style.display = "visible";
					}
				else{
					document.getElementById("hehehefon").style.display = "none";}
             }
		 </script>
		<div id="flowoff">
		<p>Interface is configured for FlowControl, but FlowControl has been automatically Disabled, due to speed set as Non-Auto</p>
		<div id="fetch2">{{flow_ON_NA.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe}}</table></div>
		</div>
		<script>
		   var test=document.getElementById("fetch2").innerHTML;
		   

		   var lines = test.split('\n');
		   
           for(var i in lines)
            {
                lines[i];
				if( test.indexOf('<td>') >= 0){
					test.getElementById("fetch2").style.display = "visible";
					}
				else{
					document.getElementById("flowoff").style.display = "none";}
             }
		</script>
		<script>

		   var tables = document.getElementsByTagName('td');
		   
           for(var a = 0; a < tables.length; a++)
             {
			    //tables[i].innerHTML = tables[i].innerHTML.replace('uplex', '<span style="color:yellow">uplex</span>');
		
				tables[a].innerHTML = tables[a].innerHTML.replace('Not Auto', '<span style="color:red;font-weight:bold">Not Auto</span>');	   
                
             }
			 
		   //tables[i].innerHTML = tables[i].innerHTML.replace('Auto-Duplex(Full-duplex)', '<span style="color:yellow">Auto-Duplex(Full-duplex)</span>');
		 </script>
		<hr>
		<h4>Subnet mask summary</h4>
		{{ subnet.to_html(index=False, classes="table table-striped table-bordered table-hover") | safe }}
		</div>
			<!--Top Process Memory -->
			<!--
			<div class="col-md-12 row" class="container" style="border-top: 0px solid #C0C0C0;">
				
				<div class="col-md-3">
					<h4><strong>TOP Memory Processes:</strong></h4>
					<table id="mem_process_TbleId" class="table table-fixed table-striped table-hover " style="background-color: #d4d2d2">
						<thead>
						  <tr>
							<th class="col-xs-9" style="color: #807d7d">Process</th>
							<th class="col-xs-3" style="color: #807d7d">Value</th>
						  </tr>
						</thead>
						<tbody>
						  
						</tbody>
					 </table>
				</div>
				
				

			</div>-->
			<!--End -->

	
		
		
</div>

		





<!---Process CPU History Model Pane --->

<div class="container">
  
  <!-- Trigger the modal with a button -->
  
  <!-- Modal1 -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
       Process CPU History
        </h4>
        </div>
        <div class="modal-body">
          <p> 
                <pre>{{cpu_history_data}}</pre>
           
           </p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- end Modal 1-->
  
  <!-- Modal 2 -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
       Inferences
        </h4>
        </div>
        <div class="modal-body">
		
          
				<!--Input rate mbps:-->
				<div class="col-md-12 row" class="container"  style="border-top: 0px solid #C0C0C0;">
					
					<table id="log_error_code_TbleId" class="table table-fixed table-striped table-hover " style="background-color: #d4d2d2">
						<thead>
						  <tr>
							<th class="col-xs-6" style="color: #807d7d">Error Code</th>
							<th class="col-xs-6" style="color: #807d7d">Inference</th>
						  </tr>
						</thead>
						<tbody>
						  
						</tbody>
					 </table>
				</div>
				<!--Output rate mbps:-->
				

			
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- end Modal 2-->
  
</div>
<!---------------Test ENd-->

<script>
    $(document).ready(function() {
        //$('.tbl1').DataTable();
        $('.tbl2').DataTable();
        //$('.tbl3').DataTable();
        //$('.tbl4').DataTable();
        $('.tbl5').DataTable();
    } );
</script>
<footer class="container-fluid text-center">
  <p>Copyright 2017 © Wipro Ltd.</p>
</footer>

</body>
</html>